app.clientId=YOUR_CLIENT_ID_HERE
app.clientSecret=YOUR_CLIENT_SECRET_HERE_IF_USING_APP_ONLY
app.tenantId=YOUR_TENANT_ID_HERE_IF_USING_APP_ONLY
app.authTenant=common
app.graphUserScopes=user.read,mail.read,mail.send
